/*
* Ilan Kleiman
* December 5th 2016
* Colored Boxes - style.css
* http://ilankleiman.com
*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(lato.tff) format('truetype');
}

* {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.newItems {
	display: inline-block;
	position: absolute;
	width: 0px;
	height: 0px;
}